/* ======================  Overlay Start  ======================*/
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: hsl(var(--black) / 0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  z-index: 12;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

/* ======================  Overlay End  ======================*/

/* ======================  Section Heading Start  ======================*/
.section-heading {
  margin-bottom: 40px;
}

.section-heading__subtitle {
  font-size: 16px;
  font-weight: 500;
  display: inline;
  margin-bottom: 24px;
  border: 1px solid hsl(var(--base-two));
  padding: 2px 12px;
  border-radius: 50px;
  color: hsl(var(--base-two));

  @include lg-screen {
    font-size: 16px;
  }

  @include md-screen {
    font-size: 14px;
  }
}

.section-heading__title {
  font-size: 60px;
  margin-bottom: 16px;
  // background: linear-gradient(95deg, hsl(var(--base)), hsl(var(--base-two)));
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  color: hsl(var(--white));

  margin-top: 24px;

  span {
    color: hsl(var(--base));
  }
}

.section__heading a {
  margin-top: 40px;

  @include sm-screen {
    margin-top: 24px;
  }
}

/* ======================  Section Heading End  ======================*/

/* ======================  Swiper Start  ======================*/
.swiper-pagination {
  position: unset;
  margin-top: 32px;

  @include lg-screen {
    margin-top: 24px;
  }

  &-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 24px;
    background: hsl(var(--section-bg));
    opacity: 1;
    transition: 0.3s;

    &-active {
      opacity: 1;
      background: hsl(var(--base));
      width: 20px;
    }
  }
}

/* ======================  Swiper End  ======================*/

/* ======================  wyg Start  ======================*/
.wyg h1,
.wyg h2,
.wyg h3,
.wyg h4,
.wyg h5 {
  color: hsl(var(--heading-color));
  margin-bottom: 12px;
  margin-top: 20px;
}

.wyg p {
  font-size: 16px;
  margin-bottom: 14px;
}

@media screen and (max-width: 767px) {
  .wyg p {
    font-size: 14px;
    margin-bottom: 14px;
  }
}

.wyg h2 {
  margin-bottom: 32px;
}

@media screen and (max-width: 991px) {
  .wyg h2 {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .wyg h2 {
    margin-bottom: 14px;
  }
}

.wyg ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 28px;
  list-style: disc;
  padding-left: 32px;
}

@media screen and (max-width: 991px) {
  .wyg ul {
    gap: 14px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .wyg ul {
    gap: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
  }
}

.wyg ul li {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .wyg ul li {
    font-size: 14px;
  }
}

.wyg ol {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 48px;
  list-style: decimal;
  padding-left: 32px;
}

@media screen and (max-width: 991px) {
  .wyg ol {
    gap: 14px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .wyg ol {
    gap: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
  }
}

/* ======================  wyg End  ======================*/
/* ======================  filter start  ======================*/
.filter__wrap {
  position: relative;
}

.filter__main {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  z-index: 12;
  background-color: hsl(var(--white));
  width: 500px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  transform: scale(0.9);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;

  @include sm-screen {
    right: auto;
    width: 300px;
  }

  &.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.filter__close {
  font-size: 18px;
  cursor: pointer;
  color: hsl(var(--heading-color));
  transition: 0.3s;
}

.filter__close:hover {
  color: hsl(var(--danger));
}

.filter__topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.filter__topbar h5 {
  margin-bottom: 0;
}

.filter__topbar a {
  font-size: 14px;
  font-weight: 500;
}

.filter__card h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.filter__form {
  border: 1px solid hsl(var(--black) / 0.08);
  border-radius: 8px;
  padding: 18px;
  max-height: 230px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px hsl(var(--base) / 0.2);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: hsl(var(--base) / 0.7);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--base));
  }

  .form-check {
    margin-bottom: 18px;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.filter__range {
  border: 1px solid hsl(var(--black) / 0.08);
  border-radius: 8px;
  padding: 22px 18px 18px 18px;
}
/* ======================  filter End  ======================*/
